body{
    background-image: url('images/inidia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*supaya backgroudnya tidak bergerak*/  
}